.body {
    font-family: 'Black Han Sans', sans-serif;;
}

.auction_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 3px;
    margin-left: 430px;
}

.auction_search input {
    margin-right: 1200px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 4px solid red;
    outline: none;
    width: 400px;
}

.custom_list {
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    right: 470px;
}

.custom_list li {
    margin-right: 10px;
    font-size: small;
}

.custom_list li a {
    text-decoration: none;
}

.gnb_container {
    border-top: grey;
    position: absolute;
    top: 120px;
    border-top: 1px solid black;
    border-bottom: 2px solid black;

}

.categories_list {
    display: flex;
    list-style: none;
}

.categories_list li {
    margin-right: 20px;
    border-top: grey;
}

.categories_list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.categories li:hover {
    background-color: white;
    color: black;
}

.last {
    margin-left: 220px;
}

.container {
    position: absolute;
    left: 448px;
    top: 176px;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0;
    height: 450px;

}

.categories {
    list-style-type: none;
    padding: 0;
}

.categories li {
    padding: 10px;
}

.sub-list {
    position: absolute;
    left: 615px;
    top: 175px;
    display: none;
}

.sub-list.active {
    display: block;
}

.box {
    width: 825px;
    height: 450px;
    border: 1px solid black;
    padding: 0;
    margin-top: 0;
    display: flex;

}

.left-section {
    flex: 1;
    background-color: #f2f2f2;
}

.right-section {
    flex: 4;
    background-color: white;
}

.famous-brand {
    position: absolute;
    top: 10px;
    left: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #666666;
}

.famous-brand li a {
    font-size: 12px;
    text-decoration: none;
}

.famous-brand li a:visited {
    color: #666666;
    text-decoration: none;
}

.famous-brand li a:hover {
    text-decoration: underline;
}

.brand-list {
    position: absolute;
    top: 10px;
    list-style-type: none;
    left: 200px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.brand-list li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.brand-list li a:hover {
    background-color: red;
    padding: 1px;
}

.brand-list li::before {
    content: '>';
    position: absolute;
    left: 150px;
    color: #cccbcb;
}

.new_year {
    position: absolute;
    left: 230px;
    bottom: 100px;
}

.all_kill_logo {
    position: absolute;
    bottom: 5px;
    left: 650px;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
    position: absolute;
    top: 700px;

}

.grid a:active {
    border-style: dotted;
    border-color: grey;
}